[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
mysqlclient = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
flask-jwt-extended = "*"
httpx = "*"
flask-restx = "*"
requests = "*"
flask = {extras = ["async"], version = "*"}
beautifulsoup4 = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
