@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

* {
  font-family:'Roboto';
}
.Journal {
  background-color: rgb(224, 214, 205);
  background-size: 10;
  width: 80%;
  /* min-height: 100vh;
  color: rgb(10, 9, 9);*/
  flex: 2;
  justify-content: center;
  align-items: center;  
  /* padding: 60px; */
}

.home {
      background: linear-gradient(-45deg, #e08569, #5bbfe3, #8be3cf);
      background-size: 200% 200%;
      height:100vh;
      animation: gradient 15s ease infinite;
}
.quote-background {
  background-image: url("Quote.jpg");
  margin-top: 0;
  
}

.list-group {
  text-align: justify;
}

.contact-card {
  align-items: center;
  background-color: white;
  outline-width: 2px;
  outline-color: white;
  outline-style: groove;
  border-radius: 5px;
}
.contact-headline {
  text-align: center;
}


.footer {
  background-color: black;
  /* height: 100vh; */
}

.quoteTile{
  /* background-image: url("Quote1.png"); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(125, 129, 131, 0.182); */
  /* height: 300px;
  width: 400px; */
  margin-top: 120px;
  /* margin-left: 400px; */
  border-radius: 10%;
  
}

.outlines {
  background-color: white;
  outline-width: 2px;
  outline-color: white;
  outline-style: groove;
  border-radius: 5px;
}

.quote-text {
  font-family: 'Times New Roman', serif;
  font-size: xx-large;
  padding: 10px;
}
p {
  font-size: 20px;
  
}
h5{
  padding: 10px;
}

.separator {
  border-width: 5px;
  border-color: #7fcbf4;
  border-style:groove;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}